@import "style.css";
form{
    height: 50%;
    margin-top: 50px;
    text-align: center;
}
button{
    background: none;
    border: none;
}
table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}

th {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
    width: 80px;
    height: 50px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
    width: 80px;
    height: 50px;
}
th:first-child, td:first-child {
    padding: 10px 20px;
    text-align: left;
}